{% extends 'base.html' %}

{% block title %}Wykrywanie oczu - Strona główna{% endblock %}

{% block content %}

<style>
    input[type=file] { margin: auto; }
    .choose-file { padding: 20px; }
</style>

<h2>Podaj obrazek do sprawdzenia:</h2>
<h6>Musi być w formacie .jpg</h6>

<form action="/upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="choose-file">
        <input type="file" name="uploaded_file" required>
    </div>

    <input class="btn btn-success" type="submit" value="Wczytaj zdjęcie">

</form>

{% endblock %}
